[build-system]
requires = ["hatchling", "hatch-js", "jupyterlab>=4,<5"]
build-backend="hatchling.build"

[project]
name = "jupyterlab-autoversion"
authors = [{name = "the jupyterlab autoversion authors", email = "t.paine154@gmail.com"}]
description = "Automatically version jupyter notebooks in JupyterLab"
readme = "README.md"
license = { text = "Apache-2.0" }
<<<<<<< before updating
version = "0.4.0"
requires-python = ">=3.9"
=======
version = "0.1.0"
requires-python = ">=3.10"
>>>>>>> after updating
keywords = []

classifiers = [
    "Development Status :: 3 - Alpha",
    "Framework :: Jupyter",
    "Framework :: Jupyter :: JupyterLab",
    "Programming Language :: Python",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Programming Language :: Python :: 3.14",
]

dependencies = [
    "GitPython>=2.1.11",
    "jupyterlab>=4,<5",
    "nbdime",
]

[project.optional-dependencies]
develop = [
    "build",
    "bump-my-version",
    "check-manifest",
    "codespell>=2.4,<2.5",
    "hatch-js",
    "hatchling",
    "mdformat>=0.7.22,<1.1",
    "mdformat-tables>=1",
    "jupyterlab>=4,<5",
    "pytest",
    "pytest-cov",
    "ruff>=0.9,<0.15",
    "twine",
    "wheel",
]

[project.scripts]

[project.urls]
Repository = "https://github.com/timkpaine/jupyterlab-autoversion"
Homepage = "https://github.com/timkpaine/jupyterlab-autoversion"

[tool.bumpversion]
current_version = "0.4.0"
commit = true
tag = true
commit_args = "-s"

[[tool.bumpversion.files]]
filename = "jupyterlab_autoversion/__init__.py"
search = '__version__ = "{current_version}"'
replace = '__version__ = "{new_version}"'

[[tool.bumpversion.files]]
filename = "pyproject.toml"
search = 'version = "{current_version}"'
replace = 'version = "{new_version}"'

[[tool.bumpversion.files]]
filename = "js/package.json"
search = '"version": "{current_version}"'
replace = '"version": "{new_version}"'

[tool.check-manifest]
ignore = [
    ".copier-answers.yaml",
    "js/pnpm-lock.yaml",
    "Makefile",
    ".vscode/*",
    "jupyterlab_autoversion/extension/**",
    "jupyterlab_autoversion/labextension/**",
    "binder/**/*",
    "docs/**/*",
    "js/dist/**/*",
    "js/lib/*",
]

[tool.coverage.run]
branch = true
omit = [
    "jupyterlab_autoversion/tests/integration/",
]
[tool.coverage.report]
exclude_also = [
    "raise NotImplementedError",
    "if __name__ == .__main__.:",
    "@(abc\\.)?abstractmethod",
]
ignore_errors = true
fail_under = 50

[tool.hatch.build]
artifacts = [
    "jupyterlab_autoversion/labextension",
]

[tool.hatch.build.sources]
src = "/"

[tool.hatch.build.targets.sdist]
packages = ["jupyterlab_autoversion", "js"]
exclude = [
    "/binder",
    "/js/dist",
    "/js/node_modules",
]

[tool.hatch.build.targets.wheel]
packages = ["jupyterlab_autoversion"]
exclude = [
    "/binder",
    "/js"
]

[tool.hatch.build.targets.wheel.shared-data]
"jupyterlab_autoversion/labextension" = "share/jupyter/labextensions/jupyterlab-autoversion"
"jupyterlab_autoversion/extension/install.json" = "share/jupyter/labextensions/jupyterlab-autoversion/install.json"
"jupyterlab_autoversion/extension/jupyterlab_autoversion.json" = "etc/jupyter/jupyter_server_config.d/jupyterlab_autoversion.json"

[tool.hatch.build.hooks.hatch-js]
path = "js"
build_cmd = "build"
tool = "pnpm"
targets = [
    "jupyterlab_autoversion/labextension/package.json",
]

[tool.pytest.ini_options]
addopts = ["-vvv", "--junitxml=junit.xml"]
testpaths = "jupyterlab_autoversion/tests"

[tool.ruff]
line-length = 150

[tool.ruff.lint]
extend-select = ["I"]

[tool.ruff.lint.isort]
combine-as-imports = true
default-section = "third-party"
known-first-party = ["jupyterlab_autoversion"]
section-order = ["future", "standard-library", "third-party", "first-party", "local-folder"]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401", "F403"]
